<!doctype html>

<html lang="pt-br">
<head>
  <meta charset="utf-8">

  <title>{{page.title}}</title>
  <meta name="description" content="Vídeos do canal Programação Dinâmica">
  <meta name="author" content="Programação Dinâmica">

  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:description" content="{{page.description}}">
  <meta property="og:image" content="https://img.youtube.com/vi/mOUIPf2VJms/default.jpg">
  <meta property="og:locale" content="pt_BR"/>
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>

<body>
  {{content}}
</body>
</html>