<!doctype html>

<html lang="pt-br">
<head>
  <meta charset="utf-8">

  <title>{{page.title}}</title>
  <meta name="description" content="Vídeos do canal Programação Dinâmica">
  <meta name="author" content="Programação Dinâmica">

  <meta property="og:url" content="{{page.url}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Vídeo sobre strings" />
  <meta property="og:description" content="Nada de magic strings no meio do tcódigo, hein!" />
  <meta property="og:image" content="https://img.youtube.com/vi/{{page.video_id}}/0.jpg" />

  <meta property="og:locale" content="pt_BR" />
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>

<body>
    {{content}}
  <script src="/assets/js/scripts.js"></script>
</body>
</html>